.updateItem {
  z-index: 3000;
  h1 {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
  }
  &-heading,
  &-content {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 1px;
    background-color: rgba($background-white, 0.1);
    font-family: initial;
    border: none;
    border-bottom: 2px solid transparent;
    width: 90%;
    display: block;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba($background-dark, 0.25);
      border-bottom: 2px solid $text-color-green;
      &::-webkit-input-placeholder {
        color: $background-dark;
      }
    }
    &:focus:invalid,
    &:hover:invalid {
      border-bottom: 1px solid $primary-color-dark;
    }
  }

  &-selector {
    text-align: left;
    font-family: inherit;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    color: $text-color-gray;
    &-label {
      font-family: inherit;
      padding-right: 1rem;
    }
    &-select {
      font-family: inherit;
      font-size: 1rem;
      color: $text-color-dark;
      border: none;
      &:hover,
      &:focus {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba($background-dark, 0.25);
        border-bottom: 2px solid $text-color-green;
      }
      &:active,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  &-heading {
    @include animationRight;
  }
  &-content {
    @include animationLeft;
  }

  &-selector {
    @include animationRight;
  }
  &-btn-container {
    text-align: center;
  }
  @import "components/buton";
}
