$primary-color-dark: #ee6f57;
$primary-color-light: #fbc687;

$button-color-blue-dark: #7532ff;
$button-color-blue-light: #a454ff;

$background-white: #ffffff;
$background-shade: #f3f3f3;
$background-dark: #1b262c;

$text-color-dark: #141b35;
$text-color-light: #ffffff;
$text-color-gray: #777;

$text-color-warning: #e93e0a;
$text-color-green: #a8df65;
